.contact_home {
    border-radius: 50% 25% 0% 35%/ 85px 68px 0px 0px;
}

input,
textarea,
button {
    background-color: rgb(129, 227, 236);
    margin: 3rem 0;
    padding: 0.5rem 1rem;
    border: none;
}

input:focus {
    outline: 2px solid blue;
    border: 1px solid white;
}

input[type="checkbox"] {
    border: none;
    outline: none !important;
}

label {
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}


.container {
    overscroll-behavior: none;
    width: 600% !important;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.red {
    width: 600px;
}

@media screen and (max-width:576px){
input,
textarea,
button {
    padding: 0.1rem 1rem;
    border: none;
}
label{
    margin: -1rem 0 !important;
}

h1{
    /* leading-[4rem] text-[3.2rem] */
    font-size: 3.2rem!important;
    line-height: 4rem!important;
}

}
p{
    text-align: justify!important;
}
