
.calculater {
    margin:0 20%;
}
.head h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.head h1 span {
    color: #5c7fdfda;
}
